.main-background {
    background: url(./../../../../assets/img/pilots.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.star-wars-container {
    position: absolute;
    width: 700px;
    height: 450px;
}

.ellipsis-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.photo{
    height: 100px;
}

.header-card-black{
    background-color: black;
}