.main-background {
    background: url(./../../../../assets/img/species.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.star-wars-container {
    position: absolute;
    width: 900px;
    height: 380px;
}

.specie-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pagination-layout {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 45px;
}

::ng-deep.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    background: transparent;
    color: white;
}

::ng-deep.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    color: white;
}

::ng-deep.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-left: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.img-selected {
    height: 90px;
    width: 130px;
}

.back-button-position{
    position: relative;
    top: 18%;
}
