<!-- <nav class="navbar navbar-dark principalHeader">
    <div class="dropdown">
        <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown"></i>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="'ships'">Ships</a>
            <a class="dropdown-item" [routerLink]="'pageOne'">Page One</a>
            <a class="dropdown-item" [routerLink]="'pageTwo'">Page Two</a>
            <a class="dropdown-item" [routerLink]="''">Login</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet> -->

<div class="container-fluid h-100 main-background">
    <div class="row h-100">
        <div class="col d-flex justify-content-center align-items-center header">

            <div class="container bg-dark rounded star-wars-container fade-in">
                <div class="row">
                    <div class="col">
                        <h2 class="text-light text-center mt-4">Star Wars</h2>
                    </div>

                </div>
                <div class="container bg-light rounded mt-4 categories">
                    <div class="row bg-secondary category" (click)="increment()">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img [src]="peopleImg" class="img-fluid" alt="people image">
                        </div>
                        <div class="col-7">
                            <div class="row ">
                                <div class="col mt-2">
                                    <span class="text-dark"> <strong>People in Star Wars</strong> </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="text-dark">There are <span class="text-danger"> <strong>
                                                {{people$.count || 0 }}</strong></span> persons
                                        registered -
                                        {{count$|async}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn btn-dark" type="button" routerLink="ships"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>

                    <div class="row bg-secondary category" (click)="decrement()">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img [src]="planetsImg" class="img-fluid" alt="planets image">

                        </div>
                        <div class="col-7">
                            <div class="row ">
                                <div class="col mt-2">
                                    <span class="text-dark"> <strong>Planets in Star Wars</strong> </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="text-dark">There are <span class="text-danger"> <strong>
                                                {{planets$.count || 0}} </strong> </span> planets
                                        registered -
                                        {{count$|async}}

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn btn-dark" type="button" routerLink="ships"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>
                    <div class="row bg-secondary category" (click)="reset()">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img [src]="filmsImg" class="img-fluid" alt="films image">

                        </div>
                        <div class="col-7">
                            <div class="row ">
                                <div class="col mt-2">
                                    <span class="text-dark"> <strong>Star Wars's Films</strong> </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="text-dark">There are <span class="text-danger"> <strong>
                                                {{films$.count || 0}} </strong></span>films
                                        registered -
                                        {{count$|async}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn btn-dark" type="button" routerLink="ships"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>
                    <div class="row bg-secondary category">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img [src]="speciesImg" class="img-fluid" alt="species image">

                        </div>
                        <div class="col-7">
                            <div class="row ">
                                <div class="col mt-2">
                                    <span class="text-dark"> <strong>Species in Star Wars</strong> </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="text-dark">There are <span class="text-danger"> <strong>
                                                {{species$.count || 0}}</strong></span> species
                                        registered</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn btn-dark" type="button" routerLink="ships"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>
                    <div class="row bg-secondary category">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img [src]="vehiclesImg" class="img-fluid" alt="vehicle image">

                        </div>
                        <div class="col-7">
                            <div class="row ">
                                <div class="col mt-2">
                                    <span class="text-dark"> <strong>Vehicles in Star Wars</strong> </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="text-dark">There are <span class="text-danger"> <strong>
                                                {{vehicles$.count || 0}}</strong> </span> vehicles
                                        registered</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn btn-dark" type="button" routerLink="ships"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>

                    <div class="row bg-secondary category">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img [src]="starchipsImg" class="img-fluid" alt="starchips image">
                        </div>
                        <div class="col-7">
                            <div class="row ">
                                <div class="col mt-2">
                                    <span class="text-dark"> <strong>Starchips in Star Wars</strong> </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="text-dark">There are <span class="text-danger"> <strong>
                                                {{starChips$.count || 0}}</strong></span> Starchips
                                        registered</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn btn-dark" type="button" routerLink="ships"><i class="bi bi-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>