.main-background {
    background: url(./../../../assets/img/main-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.star-wars-container {
    position: absolute;
    width: 600px;
    height: 670px;
}

.categories {
    width: 500px;
    height: 480px;
}

.category {
    height: 80px;
}

.category:hover {
    opacity: 0.85;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}