<div class="container-fluid h-100 main-background">
    <div class="row h-100">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="container bg-dark rounded star-wars-container">
                <div class="row h-100 d-flex justify-content-center align-content-center">
                    <div class="col-2 people-target m-1" *ngFor="let people of this.people$.results">
                        <div class="row">

                            <div class="col m-0 p-0">
                                <img class="img-fluid border border-white rounded img-selected"
                                    [src]="getPeopleId(people.url)" onError="this.src='assets/img/question.jpg'"
                                    alt="image people" (click)="navigateToPeopleDetail(people.url)">
                            </div>

                        </div>

                        <div class="row">
                            <span class="ml-2 text-white people-name">{{people.name}}</span>
                        </div>

                    </div>

                    <div class="container pagination-layout">

                        <ngb-pagination [collectionSize]="this.people$.count" [(page)]="page"
                            [directionLinks]="false">

                            <ng-template ngbPaginationPages let-page let-pages="pages">
                                <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                                    <div class="mb-3 d-flex flex-nowrap px-2">
                                        <label id="paginationInputLabel" for="paginationInput"
                                            class="col-form-label me-2 ms-1">Page</label>
                                        <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                                            class="form-control custom-pages-input" id="paginationInput" [value]="page"
                                            (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                                            (input)="formatInput($any($event).target)"
                                            aria-labelledby="paginationInputLabel paginationDescription"
                                            style="width: 2.5rem" />
                                        <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of
                                            {{pages.length}}</span>
                                    </div>
                                </li>
                            </ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>

            <div class="back-button-position">
                <button type="button" class="btn btn-secondary" routerLink="/principal">Back</button>
            </div>

        </div>
    </div>
</div>